#banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vh;
    height: 100vh;
}

#banner .text-banner {
    font-size: 4.6em;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 200;
    color: #FFC4EB;
}