@import url('https://fonts.googleapis.com/css?family=Oxygen:700');

#banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vh;
    height: 100vh;
}

#banner .text {
    font-size: 64px;
    font-family: Oxygen, Helvetica, sans-serif;
    font-weight: bolder;
    color: #61D9FA;
}