header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: 300ms ease-in-out;
}

header.intro {
    background-color: #20232a;
}

header .main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 2px solid #61D9FA;
}

header .main-nav .nav-item {
    color: #61D9FA;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    transition: 300ms ease-in-out;
}

header .main-nav .nav-item:last-child {
    padding-right: 0;
}

header #logo {
    max-width: 100%;
}

header #logo img {
    display: block;
    transition: 300ms ease-in-out;
}