header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: 300ms ease-in-out;
}

header.intro {
    background-color: var(--color-tone-1);
}

header .main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .main-nav .nav-item {
    color: var(--color-tone-5);
    font-size: 1.15em;
    font-weight: 100;
    text-decoration: none;
    padding: 0 15px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 200;
    transition: 300ms ease-in-out;
}

header .main-nav .nav-item:hover { color: var(--color-tone-4); }

header .main-nav .nav-item:last-child {
    padding-right: 0;
}

header #logo {
    max-width: 100%;    
    padding: 3%;
    transition: 300ms ease-in-out;
}

header #logo svg {
    display: block;
    height: 100%;
    width: auto;
    fill: var(--color-tone-3);
}

header #logo svg g {
    fill: var(---color-tone-3);
}